<div class="card">
  <p-menubar >
    <ng-template pTemplate="start">
            <figure class="m-0 p-0">
              <img src="assets/logo.svg" alt=""  height="40">
            </figure>
        </ng-template>


    <ng-template pTemplate="end">
      <div class="flex align-items-center gap-2">
        @for (item of items; track $index) {
        <a
        routerLinkActive="loginRegisterActive"
        [routerLink]="[item?.['path']]"
         pRipple class="p-menuitem-link p-link inline-flex justify-content-center align-items-center hover:surface-500 p-2 transition-all transition-duration-200 text-black-alpha-80">
          <span [class]="item.icon"></span>
          <span class="ml-2">{{ item.label }}</span>
        </a>
        }
      </div>
    </ng-template>
  </p-menubar>
</div>
