<section>
  <div class="container">
    <h1>Register Form</h1>
    <form [formGroup]="registrationForm" (ngSubmit)="submit()">
      <div class="field">
        <p-inputGroup>
          <p-inputGroupAddon>
            <i class="pi pi-user"></i>
          </p-inputGroupAddon>
          <input
            pInputText
            placeholder="Username"
            formControlName="userName"
            class="w-full border-round-md border-1 border-black-alpha-20"
          />
        </p-inputGroup>
        <div class="validation-msg">
          @if (userName?.touched ) {
          @if(userName?.getError('required')) {
          <p-messages
            [value]="[
              {
                severity: 'error',
                summary: 'validation error',
                detail: 'name is required'
              }
            ]"
            [enableService]="false"
            [closable]="false"
          />
          }
          @if(userName?.getError('minlength')) {
          <p-messages
            [value]="[
              {
                severity: 'error',
                summary: 'validation error',
                detail: 'name minlength is 3'
              }
            ]"
            [enableService]="false"
            [closable]="false"
          />
          }
          @if(userName?.getError('maxlength')) {
          <p-messages
            [value]="[
              {
                severity: 'error',
                summary: 'validation error',
                detail: 'name maxlength is 20'
              }
            ]"
            [enableService]="false"
            [closable]="false"
          />
          }
        }
        </div>
      </div>
      <div class="field">
        <p-inputGroup>
          <p-inputGroupAddon>
            <i class="pi pi-envelope"></i>
          </p-inputGroupAddon>
          <input
            pInputText
            placeholder="Email"
            formControlName="email"
            class="w-full border-round-md border-1 border-black-alpha-20"
          />
        </p-inputGroup>
        <div class="validation-msg">
          @if (email?.touched )
          {
            @if(email?.getError('required')) {
          <p-messages
            [value]="[
              {
                severity: 'error',
                summary: 'validation error',
                detail: 'email is required'
              }
            ]"
            [enableService]="false"
            [closable]="false"
          />
          }
          @if(email?.getError('email')) {
          <p-messages
            [value]="[
              {
                severity: 'error',
                summary: 'validation error',
                detail: 'email not valid'
              }
            ]"
            [enableService]="false"
            [closable]="false"
          />
          }

        }
        </div>
      </div>
      <div class="field">
        <p-inputGroup>
          <p-inputGroupAddon>
            <i class="pi pi-lock"></i>
          </p-inputGroupAddon>

          <!-- <input
            pInputText
            placeholder="Password"
            formControlName="password"
            type="password"
            class="w-full"
          /> -->
           <p-password
            styleClass="w-full"
            placeholder="Password"
            formControlName="password"
            type="password"
            promptLabel="Choose a password"
            weakLabel="Too simple"
            mediumLabel="Average complexity"
            strongLabel="Complex password"
            [toggleMask]="true"
          />
        </p-inputGroup>
        <div class="validation-msg">
          @if (password?.touched ) {
          @if(password?.getError('required')) {
          <p-messages
            [value]="[
              {
                severity: 'error',
                summary: 'validation error',
                detail: 'Paasword is required'
              }
            ]"
            [enableService]="false"
            [closable]="false"
          />
          }
          @if(password?.getError('minlength')) {
          <p-messages
            [value]="[
              {
                severity: 'error',
                summary: 'validation error',
                detail: 'passwordminlength is 3'
              }
            ]"
            [enableService]="false"
            [closable]="false"
          />
          }
          @if(password?.getError('maxlength')) {
          <p-messages
            [value]="[
              {
                severity: 'error',
                summary: 'validation error',
                detail: 'password maxlength is 20'
              }
            ]"
            [enableService]="false"
            [closable]="false"
          />
          }
         }
        </div>
      </div>
      <div class="field">
        <p-inputGroup >
          <p-inputGroupAddon>
            <i class="pi pi-lock"></i>
          </p-inputGroupAddon>

          <input
            pInputText
            type="text"
            name="rePassword"
            placeholder="RePassword"
            formControlName="rePassword"
            type="password"
            class="w-full border-round-md border-1 border-black-alpha-20 focus\:surface-500"
          />
        </p-inputGroup>
        <div class="validation-msg">
          @if (rePassword?.touched && rePassword?.dirty ) {
          @if(rePassword?.getError('passwordMismatch')) {
          <p-messages
            [value]="[
              {
                severity: 'error',
                summary: 'validation error',
                detail: 'password Mismatch'
              }
            ]"
            [enableService]="false"
            [closable]="false"
          />
          }


        }
        </div>
      </div>
      <p-button type="submit" label="Submit" />
    </form>
  </div>
  <div class="card flex justify-content-center">
    <p-toast />
</div>

</section>
